<div>
  
  <div>
    <%= f.label :front %>
    <%= f.text_area :front %>
  </div>

  <div>
    <%= f.label :back %>
    <%= f.text_area :back %>
  </div>

  <%= link_to_remove_association "remove card", f %>





</div>