<%= form_for @stack do |f| %>

  <%= f.text_area(:name, placeholder: "e.g. Ruby", :cols => 50, :rows => 1)%>

  <br />

  <%= f.label :description %><br />
  <%= f.text_area(:description, placeholder: "description", :cols => 50, :rows => 4) %>

  <div class="new_card_headline">
    <h2 class="title-pad"> Current Cards:</h2> 
    <table>  
      <thead>
          <tr>
            <th class="table-heading">Question</th>
            <th class="table-heading">Answer</th>
            <th class="table-heading"></th>
          </tr>
      </thead>
      <tbody>
        <%= f.fields_for :cards do |card| %>
          <%= render 'card_fields', :f => card %>
        <% end %>
      </tbody>
    </table>
    <div class="links">
      <%= link_to_add_association 'add a new card', f, :cards %>
    </div>
      
  </div>

  
  <span class="submit-btn"><%= f.submit %></span>


<% end %>