<%= form_for @stack do |f| %>

  <%= f.text_field(:name, placeholder: "e.g. Ruby")%>

  <br />

  <%= f.label :description %><br />
    <%= f.text_area(:description, placeholder: "description", :cols => 50, :rows => 4) %>
    <p class="counter-text"><span id="counter">20</span>/200 characters left.</p>

  <div class="new_card_headline">
    <h2 class="title-pad"> Current Cards:</h2> 
    <table>  
      <thead>
          <tr>
            <th class="table-heading">Question</th>
            <th class="table-heading">Answer</th>
            <th class="table-heading"></th>
          </tr>
      </thead>
      <tbody>
        <%= f.fields_for :cards do |card| %>
          <%= render 'card_fields', :f => card %>
        <% end %>
      </tbody>
    </table>
    <div class="add-links">
      <%= link_to_add_association 'add a new card', f, :cards %>
    </div>
      
  </div>

  
  <%= f.submit "Update Stack", class:"submit-btn" %>


<% end %>