<%= form_for @stack do |f| %>

  <%= f.label :name %><br />
  <%= f.text_field :name, placeholder: "e.g. Ruby" %>

  <br />

  <%= f.label :description %><br />
  <%= f.text_area(:description, :cols => 30, :rows => 6) %>

  <div class="new_card_headline">
    <h2> Add your cards!</h2>

   <%= f.fields_for :cards do |card| %>
      <%= render 'card_fields', :f => card %>

     <% end %>

    <div class="links">
      <%= link_to_add_association 'add card', f, :cards %>
    </div>
      
  </div>

  <%= f.submit %>


<% end %>