<%= form_for @stack do |f| %>

  <%= f.label :name %><br />
  <%= f.text_area(:name, placeholder: "e.g. Ruby", :cols => 50, :rows => 1)%>

  <br />

  <%= f.label :description %><br />
  <%= f.text_area(:description, placeholder: "description", :cols => 50, :rows => 4) %>

  <div class="new_card_headline">
    <h2 class="title_pad"> Current Cards:</h2> 
    <table>  
      <thead>
          <tr>
            <th width="70%">Front</th>
            <th width="70%">Back</th> 
          </tr>
      </thead>
    </table>
      <%= f.fields_for :cards do |card| %>
        <%= render 'card_fields', :f => card %>
      <% end %>

    <div class="links">
      <%= link_to_add_association 'add a new card', f, :cards %>
    </div>
      
  </div>

  <%= f.submit %>


<% end %>