<%= form_for @stack do |f| %>

<!-- error handling -->

   <% if @stack.errors.any? %>
    <div id="error-explanation">
      <%= pluralize(@stack.errors.count, "error") %> prevented your stack from being created:
      <ol>
      <% @stack.errors.full_messages.each do |msg| %>
        <li id="error-msg"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- new stack forms -->

 <div class="new-form-padding">
  <%= f.text_field(:name, placeholder: "Stack name here please",  :rows => 1)%>
</div>

  <br />

  <div class="new-form-padding">
    <%= f.text_area(:description, placeholder: "Description here please", :cols => 50, :rows => 4) %>
       <p class="counter-text"><span id="counter">200</span>/200 characters left.</p>
  </div>

  <div class="new_card_headline">
    <h2 class="title-pad"> Add your first cards (a minimum of 2 are required):</h2> 

    <table>
      <thead>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <%= f.fields_for :cards do |card| %>
          <%= render 'card_fields', :f => card %>
        <% end %>
      </tbody>
    </table>


    <div class="add-links">
      <%= link_to_add_association 'Add another card', f, :cards %>
    </div>
  </div>

  <%= f.submit "Create Stack", class:"submit-btn" %>


<% end %>