
<h2><%= @stack.name %></h2>
<p><%= @stack.description %></p>

<p><%= link_to 'Edit', edit_stack_path  %></p>

<% unless @stack.cards.empty? %>

  <!-- Flexslider images -->
  <div class="flexslider">
    <ul class="slides">
     <% @stack.cards.each do | card | %>
      <li> 
        <%= card['front'] %>
        <%= card['back'] %>
      </li>
     <% end %>
    </ul>
  </div>

<% end %>