
<h2 class="title-pad">Stack: <%= @stack.name %></h2>
<p><%= link_to 'Edit', edit_stack_path  %> <%= link_to "Back to list", stacks_path %></p>

<% if @stack.has_attribute?('cards') and @stack.cards.any? %>
  <!-- Flexslider images -->
  <div class="flexslider">
    <ul class="slides">
      <% @stack.cards.each do | card | %>
        <li class="card"> 
          <div class="card-content">
            <div class="front cent"><%= card['front'] %></div>
            <div class="back cent"><%= card['back'] %></div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="remove-underline-link">
  
</div>

