<!DOCTYPE html>
<html>
<head>
  <title>EduApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <%= link_to "Home", root_path %>
  <%= link_to "Stacks", stacks_path, :class => "stacks_btn" %>
  <%= link_to "Create Stack", new_stack_path %>
  <%= link_to "Tags", tags_path, :class => "tags_btn" %>
  <%= link_to "Create Tag", new_tag_path %>
  
</nav>

<%= yield %>

</body>
</html>
